<nav class="">
    <p>ทับหนึ่ง</p>
    <div class="box-nave">
    <ul class="navbar-nav">
        <li><a href="/">home</a></li>
        <li><a href="/profileroom">profile ทับหนึ่ง</a></li>
        <li><a href="/myprofile">my profile</a></li>
        <li><a href="create">create profile</a></li>
        <div class="btn-bar" onclick="toggleDropdown()"><i class="fa-solid fa-bars" ></i></div>
    </ul>
  </div>
</nav>
<div class="dropdown" id="myDropdown">
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/profileroom">profile ทับหนึ่ง</a></li>
    <li><a href="/myprofile">my profile</a></li>
    <li><a href="/create">create profile</a></li>
</ul>
</div>