@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Anuphan', sans-serif;
    box-sizing: border-box;
}
nav {
    display: flex;
    width: 100%;
    background-color: beige;
    
}

nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: right;
    align-items: center;
}

nav ul li{
    padding: 18px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

nav p {
    width: 60px;
    padding:18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-nave{
    /* background-color: aqua; */
    width: 100%;
}

.btn-bar{
    font-size: 25px;
    padding: 18px;
    display: none;
    margin-right: 10px;
}

.dropdown{
    position: absolute;
    right: 10px;
    height: 240px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(198, 197, 228, 0.24);
    backdrop-filter: blur(5px);
    border-radius:7px ;
    display: none;
}

.dropdown li {
    padding: 22px 0 0 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;  
}
.dropdown li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.chang{
    display: block;
}
.conteaner{
    height: 100dvh;
    width: 100%;
    /* background-color: rgb(155, 165, 255); */
}
.sec1{
    /* background-color: aqua; */
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-61{
    background-color: azure;
    width: 500px;
    margin: 0 100px;
}
.p-61 h1{
    text-align: center;
}
.img-room-index{
    margin: 60px 100px 0 0;
    width: 650px;
    height: 650px;
    background-color: black;
    border-radius: 50%;
}

form {
    padding: 50px;
    margin: 0 auto 0 auto;
    width: 500px;
    background-color: #ffffff;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}
#myButton{
    width: 150px;
    height: 50px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}
.nametag{
    width: 90%;
    height: 150px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.img-nametag{
    width: 120px;
    height: 120px;
    margin-left: 50px;
    border-radius: 12px;
}
.img-nametag img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
}
.last-chil{
    margin-right: 100px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 850px;
    height: 500px;
    display: flex;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
#popup-warp a {
    width: 100px;
    height: 100px;
}
#popup-warp a img{
    width: 100px;
}
#popup-img{
    position: relative;
    left: 560px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 30px;
}
.popup-img{
    width: 250px;
    height: 250px;
}
#popup-name{
    position: absolute;
    top: 60px;
    left: 60px;
    width: 470px;
  font-size: 50px;
}

#popup-university{
    position: absolute;
    bottom: 250px;
    left: 100px;
}

#popup-group{
    position: absolute;
    bottom: 250px;
    left: 280px;
}
#popup-gender{
    position: absolute;
    bottom: 250px;
    left: 460px;
}
#popup-age{
    position: absolute;
    bottom: 120px;
    left: 110px;
}
#popup-warp{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#popup-ds{
    position: absolute;
    bottom: 120px;
    left: 300px;
}

.autocomplete-suggestions{
    padding: 12px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

.off{
    display: none;
}
.garp1,.garp2{
    margin: 0 auto;
    width: 80%;
    height: 400px;
}
/* ส่วนของForm */

.input-container {
    position: relative;
    margin: 50px auto;
    width: 80%;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 3px 0;
    background-color: transparent;
    outline: none;
  }
  
  .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: #333;
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }
@media only screen and (max-width: 1000px) {
    .conteaner{
        height: 100dvh;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
    nav ul li{
        display: none;
    }
    .btn-bar{
        display: block;
    }
    .sec1{
        background-color: rgb(255, 255, 255);
        display: grid;
        margin: 100px auto 0 auto;
        justify-content: center;
        align-items: center;
    }
    .img-room-index{
        margin: 60px auto 0 auto;
        width: 400px;
        height: 400px;
    }
}