@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Anuphan', sans-serif;
    box-sizing: border-box;
}
nav {
    display: flex;
    width: 100%;
    background-color: beige;
    
}

nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: right;
    align-items: center;
}

nav ul li{
    padding: 18px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

nav p {
    width: 60px;
    padding:18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-nave{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    width: 100%;
}
.countdown {
    width: 100%;
    justify-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
  }
  .hny {
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: red;
  }

.btn-bar{
    font-size: 25px;
    padding: 18px;
    display: none;
    margin-right: 10px;
}

.dropdown{
    position: absolute;
    right: 10px;
    height: 270px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(198, 197, 228, 0.24);
    backdrop-filter: blur(5px);
    border-radius:7px ;
    display: none;
}

.dropdown li {
    padding: 22px 0 0 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;  
}
.dropdown li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.conteaner{
    height: 100dvh;
    width: 100%;
    /* background-color: rgb(155, 165, 255); */
}
.sec1{
    /* background-color: aqua; */
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-61{
    background-color: azure;
    width: 500px;
    margin: 0 100px;
}
.p-61 h1{
    text-align: center;
}
.img-room-index{
    margin: 60px 100px 0 0;
    width: 650px;
    height: 650px;
    background-color: black;
    border-radius: 50%;
}

form {
    padding: 50px;
    margin: 0 auto 0 auto;
    width: 500px;
    background-color: #ffffff;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}
#myButton{
    width: 150px;
    height: 50px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    z-index: +15;
}
.nametag{
    width: 90%;
    height: 150px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.img-nametag{
    width: 120px;
    height: 120px;
    margin-left: 50px;
    border-radius: 12px;
}
.img-nametag img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
}
.last-chil{
    margin-right: 100px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 850px;
    height: 500px;
    display: flex;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
#popup-warp a {
    width: 100px;
    height: 100px;
}
#popup-warp a img{
    width: 100px;
}
#popup-img{
    position: relative;
    left: 560px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 30px;
}
.popup-img{
    width: 250px;
    height: 250px;
}
#popup-name{
    position: absolute;
    top: 60px;
    left: 60px;
    width: 470px;
  font-size: 50px;
}

#popup-university{
    position: absolute;
    bottom: 250px;
    left: 100px;
}

#popup-group{
    position: absolute;
    bottom: 250px;
    left: 280px;
}
#popup-gender{
    position: absolute;
    bottom: 250px;
    left: 460px;
}
#popup-age{
    position: absolute;
    bottom: 120px;
    left: 110px;
}
#popup-warp{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#popup-ds{
    position: absolute;
    bottom: 120px;
    left: 300px;
}

.autocomplete-suggestions{
    padding: 12px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

.off{
    display: none;
}
.garp1,.garp2{
    margin: 0 auto;
    width: 80%;
    height: 400px;
}
#pppppp a{
    padding: 5px;
    background-color: rgba(213, 148, 221, 0.863);
    text-decoration: none;
    border-radius: 9px;
    color: #ffffff;
}
.gard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 30px;
    place-items: center; /* จัดให้เนื้อหาตรงกลางทั้งแกน x และ y */
}
.gardmsg{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 #aea5c2;
    border-radius: 6px;
    padding: 10px;
}
#msg {
    padding: 5px;
    text-align: center; /* จัดให้อยู่ตรงกลางทั้งแกน x */
    border-radius: 6px;
}
#name{
    font-size: large;
    font-weight: 500;
    padding: 5px;
    background-color: #e2e2e2;
    border-radius: 6px;
}
.massage{
    margin-top: 10px;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* myprofile */
#profile-container{
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.mamy{
    height: 900px;
    background-color: #aea5c2;
    display: flex;
    border-radius: 4px;
}
.my1{
    position: relative;
    width: 680px;
    margin: 15px 12.5px 15px 15px;
    background-color: #ffffff;
    border-radius: 24px;
    /* display:grid; */
    /* justify-content: center; */
    z-index: +14;
}
.my2{
    position: relative;
    width: 680px;
    margin: 15px 15px 15px 12.5px;
    background: #ffffff;
    border-radius: 24px;
    padding: 34px;
    display: none;
}
.picter img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 22px;
}
.picter {
    margin: 50px auto;
    width: 500px;
    height: 480px;

}
.name p{
    text-align: center;
    font-size: 42px;
    font-weight: 500;
}
.caption p{
    color: #ac73a9;
    margin-top: 60px;
    text-align: center;
    font-size: 42px;
}
.button{
    width: 50px;
    height: 80px;
    background-color: rgb(138, 138, 138);
    position: absolute;
    right: 0;
    top:50%;
    border-radius: 50% 0 0  50%;
    z-index: +13;
}
.inline{
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.inline .kumnum{
    color: #75618b;
}
.inline p{
    color: #0000009a;
}
.warp{
    margin-bottom: 34px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}
.warp a img{
    width: 100px;
}
.chang{
    display: block;
}
/* ส่วนของForm */

.input-container {
    position: relative;
    margin: 50px auto;
    width: 80%;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 3px 0;
    background-color: transparent;
    outline: none;
  }
  .input-container input[type="password"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 3px 0;
    background-color: transparent;
    outline: none;
  }
  .input-container input[type="number"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 3px 0;
    background-color: transparent;
    outline: none;
  }
  
  .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: #333;
  }
  .input-container input[type="password"]:focus ~ .label,
  .input-container input[type="password"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: #333;
  }
  .input-container input[type="number"]:focus ~ .label,
  .input-container input[type="number"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: #333;
  }
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }
  .input-container input[type="password"]:focus ~ .underline,
  .input-container input[type="password"]:valid ~ .underline {
    transform: scaleX(1);
  }
  .input-container input[type="number"]:focus ~ .underline,
  .input-container input[type="number"]:valid ~ .underline {
    transform: scaleX(1);
  }



@media only screen and (max-width: 1000px) {
    .conteaner{
        height: 100dvh;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
    nav ul li{
        display: none;
    }
    .btn-bar{
        display: block;
    }
    .sec1{
        background-color: rgb(255, 255, 255);
        display: grid;
        margin: 100px auto 0 auto;
        justify-content: center;
        align-items: center;
    }
    .img-room-index{
        margin: 60px auto 0 auto;
        width: 400px;
        height: 400px;
    }
}